body {
  margin-bottom: 60px;
  background-color: lightblue;
}

#model {
    width: 85%;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
}

.dropzone {
    width: 100px;
    height: 80px;
    border: 1px dashed #999;
    border-radius: 3px;
    text-align: center;
}

.upload-icon {
    margin: 25px 2px 2px 2px;
}

.upload-input {
    position: relative;
    top: -62px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#bar {
    margin-left: 20%;
    margin-top: 10%;
    width: 35%;
}

#data {
    margin-top: 25%;
    margin-left: 25%;
    width: 50%;
}

h5 {
    border-bottom: 1px solid #999;
    text-align: center;
    border-bottom-color: cadetblue;
}