body {
  margin-bottom: 60px;
  background-color: lightblue;
}

#model {
    width: 85%;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
}

#bar {
    margin-left: 20%;
    margin-top: 10%;
    width: 35%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    color: white;
}

.modal {
    padding-top: 20%;
    padding-left: 5%;
}

#panel {
    text-align: center;
}