@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
<div class="container" id="bar">
    <form method="post" enctype="multipart/form-data">
        <input class="form-control" type="email" id="from" placeholder="From Address" /><br>
        <input class="form-control" type="email" id="to" placeholder="To Addresses" /><br>
        <input type="file" class="form-control" id="files" /><br>
        <table class="table table-hover">
            <tbody id="data">
                <!--
                    Generates table with email addresses...
                -->
            </tbody>
        </table>
        <input type="submit" class="btn btn-outline-info" value="Upload" />
    </form>
</div>