<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/upload.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron" id="model">
            <div class="row">
                <div class="col">
                    <a href="/" class="nav-link text-secondary"><span class="fa fa-picture-o text-info">&nbsp;ShareUp</span></a>
                </div>
                <div class="col">
                    <a href="/" class="nav-link text-success"><span class="fa fa-cloud text-info"></span>&nbsp;Upload</a>
                </div>
                <div class="col">
                    <a href="/Request" class="nav-link text-primary"><span class="fa fa-download text-info"></span>&nbsp;Request Files</a>
                </div>
                <div class="col">
                    <a href="/Sent" class="nav-link text-primary"><span class="fa fa-cog text-info"></span>&nbsp;Sent</a>
                </div>
                <div class="col">
                    <a href="/Account" class="nav-link text-primary"><span class="fa fa-user-circle-o text-info"></span>&nbsp;Login</a>
                </div>
            </div><hr>
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/upload.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
